$colors: (
  primary: (
    400: hsl(228, 39%, 23%),
  ),
  accent: (
    300: hsl(12, 88%, 79%),
    400: hsl(12, 88%, 59%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 98%),
    300: hsl(0, 0%, 95%),
  ),
);
