$font-weights: (
  regular: 400,
  semi-bold: 500,
  bold: 700,
);

$font-sizes: (
  400: 1rem,
  500: 1.5rem,
  600: 2rem,

  regular: 400,
);

$fs-regular: 1rem;
$fs-heading: clamp(1.5rem, 7.25vw, 3.25rem);

$fw-400: 400;
$fw-500: 500;

$ff-default: sans-serif;
