$colors: (
  primary: (
    "red-400": hsl(0, 100%, 74%),
    "green-300": hsl(154, 59%, 61%),
    "green-400": hsl(154, 59%, 51%),
    "green-500": hsl(154, 59%, 41%),
  ),
  accent: (
    "blue-400": hsl(248, 32%, 49%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(246, 25%, 77%),
    400: hsla(249, 10%, 26%, 0.3),
  ),
);
